{include file="header.html"}

<div class="card mb-3">
  <div class="card-header">

    {if isset($msg)} {include file='../mensajes.html'} {/if}

    <a class='btn btn-link btn-xs' 
    href="index.php">
    <i class="fa fa-fw fa-dashboard"></i>  Dashboard</a> 

    <a class='btn btn-link btn-xs' href="#"><i class="fa fa-table"></i> Películas</a>

    <a class='btn btn-primary btn-xs' 
    href="pelicula.php?accion=form_nuevo">
    <i class="fa fa-plus"></i> Nuevo</a> 
  </div>

  <div class="card-block">
      <div class="table-responsive">
          <table class="table table-bordered" width="100%" id="dataTable" 
          cellspacing="0">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>TITULO</th>
                  <th>DESCRIPCION</th>
                  <th>LANZAMIENTO</th>
                  <th>LENGUAJE</th>
                  <th>DURACION</th>
                  <th>POSTER</th>
                  <th>OPCIONES</th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th>ID</th>
                  <th>TITULO</th>
                  <th>DESCRIPCION</th>
                  <th>LANZAMIENTO</th>
                  <th>LENGUAJE</th>
                  <th>DURACION</th>
                  <th>POSTER</th>
                  <th>OPCIONES</th>
                </tr>
              </tfoot>
              <tbody>
              {if isset($peliculas)}
                {foreach $peliculas as $p}
                  <tr>
                    <td>{$p.pelicula_id}</td>
                    <td>{$p.titulo}</td>
                    <td>{$p.descripcion}</td>
                    <td>{$p.f_lanzamiento}</td>
                    <td>{$p.lenguaje}</td>
                    <td>{$p.duracion}</td>
                    <td><img src="{$p.poster}" alt="sorry..." width="100"></td>
                    <td class="text-center">
                      <a class='btn btn-info btn-xs' 
                      href="pelicula.php?accion=form_editar&id={$p.pelicula_id}">
                      <i class="fa fa-edit"></i> Edit</a> 

                      <a class="btn btn-danger btn-xs" 
                      href="pelicula.php?accion=eliminar&id={$p.pelicula_id}">
                      <i class="fa fa-eraser"></i> Del</a>
                    </td>
                  </tr>
                {/foreach}  
              {/if}                
              </tbody>
          </table>
      </div>
  </div>
  <div class="card-footer small text-muted">
    Updated yesterday at 11:59 PM
  </div>
</div>

{include file="footer.html"}
