{include file="header.html"}

<div class="card mb-3">
  <div class="card-header">

    {if isset($msg)} {include file='../mensajes.html'} {/if}

    <a class='btn btn-success btn-xs' 
    href="index.php">
    <i class="fa fa-fw fa-dashboard"></i>  Dashboard</a> 
    <a class='btn btn-success btn-xs' href="#"><i class="fa fa-table"></i> Asientos Disponibles</a>
  </div>

  <div class="card-block">
      <div class="table-responsive">
          <table class="table table-bordered" width="100%" id="dataTable" 
          cellspacing="0">
              <thead>
                <tr>
                  <th class="text-center">ID</th> <!-- ASIENTO_ID -->
                  <th class="text-center">SALA</th>
                  <th class="text-center">FILA</th>
                  <th class="text-center">COLUMNA</th>
                  <th class="text-center">OPCIONES</th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th class="text-center">ID</th> <!-- ASIENTO_ID -->
                  <th class="text-center">SALA</th>
                  <th class="text-center">FILA</th>
                  <th class="text-center">COLUMNA</th>
                  <th class="text-center">OPCIONES</th>
                </tr>
              </tfoot>
              <tbody>
              {if isset($asientos)}
                {foreach $asientos as $dis}
                  <tr>
                    <td>{$dis.asiento_id}</td>
                    <td> 
                      {foreach $dis.sala as $sala}
                        {foreach $sala.sucursal as $suc}
                          {$sala.nombre} - {$suc.pais} - {$suc.ciudad} - {$suc.direccion}
                        {/foreach}
                      {/foreach} 
                    </td>
                    <td>{$dis.fila}</td>
                    <td>{$dis.columna}</td>
                    <td class="text-center">
                      <a class='btn btn-primary btn-xs'
                      href="asientos_disponibles.php?accion=select&id={$dis.asiento_id}">
                      <i class="fa fa-edit"></i> Select</a> 
                    </td>
                  </tr>
                {/foreach}  
              {/if}                
              </tbody>
          </table>
      </div>
  </div>
  <div class="card-footer small text-muted">
    Updated yesterday at 11:59 PM
  </div>
</div>

{include file="footer.html"}
